{% extends 'base.html' %}

{% block body_open_sidebar %}
<body class="{{pagetitle.lower().replace(' ', '-')}} grid-container"></body> 
<div id="left-sidebar" class="leftside sidebar">
  <div id="left-sidebar-content" class="content">
    <div class="logo"><a href="home.html">Nanite</a></div>
      <nav>
          <ul class="navbar">
            <li class="nav-item">
              <a class="nav-link" href="welcome.html">Onboarding</a> 
            </li>
              <li class="nav-item">
                {% include 'sidebar-info-list.html' %}
              </li>
          </ul>
      </nav>
    </div>
  </div>
{% endblock %}
  
