{% extends 'base.html' %}

{% block sidebar %} 
  <div id="nav" class="side">
      <nav>
          <ul class="navbar">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a> 
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/options">Projects</a>
                <ul>
                  {% for idx, project in menuprojects %}
                  <li class="nav-item nav-sub-item"><a class="nav-link" href="/">{{project['name']}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Info</a> 
              </li>
          </ul>
      </nav>
    </div>
{% endblock %}
  
