<!doctype html>
<html>
<head>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <!-- <link rel="stylesheet" href="static/styles/normalize.css"> -->
  <!-- <link rel="stylesheet" href="static/styles/cavepaint.css"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/sanitize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <title> Nanite: {{ pagetitle }} </title>

  {% block head_content %}

  {% endblock %}

</head>

{% block body_open_sidebar %} 


{% endblock %}

  <div id="main" class="main">
    
    {% block content %} 

    {% endblock %}
  </div>

</body>

</html>