<body class="{{pagetitle.lower().replace(' ', '-')}} grid-container">
  <header class="nanite-header">
    <a href="home.html">
      <div class="header-logo"><img src="../static/imgs/nanite-icon.svg">
        <h1>Nanite</h1>
      </div>
    </a>
  </header>
  <div id="left-sidebar" class="leftside sidebar">
    <div id="left-sidebar-content" class="content">
      <div id="sidebar-insights" class="insights">
        <p><a id="username_link" class="username" href="welcome.html"><img class="user-img" src="../static/imgs/new-user.png" alt="{{username}}"><div id="username">Writer</div></a></p>
      </div>
      <nav>
        <ul class="navbar">
          <li class="nav-item">
            <a class="nav-link" href="home.html"><img class="icon" src="../static/imgs/icons/home.svg"></a> 
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="home.html"><img class="icon" src="../static/imgs/icons/bell.svg"></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home.html"><img class="icon" src="../static/imgs/icons/logout.svg"></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home.html"><img class="icon" src="../static/imgs/icons/settings.svg"></a> 
          </li> -->
          <li class="nav-item">
            <!-- Modal Triggers -->
            <button data-micromodal-trigger="modal-1" class="new-project">+ New Project</button>
          </li>
          <li class="nav-item">
            <button data-micromodal-trigger="modal-0" class="welcome-msg">?</button>
          </li>
        </ul>
      </nav>
      <button data-micromodal-trigger="modal-stats" id="stats-toggle" style="display:none" aria-hidden="true"></button>
      <button data-micromodal-trigger="modal-edit-proj" id="edit-proj-toggle" style="display:none" aria-hidden="true"></button>
    </div>
  </div>  
