{% extends 'base.html' %}

{% block body_open_sidebar %} 
  {% include 'bodyopen-nosidebar.html' %}
{% endblock %} 

{% block content %} 
  <div id="main" class="home main">   

    <div id="main-content" class="container">
      <div class="nanite-welcome-image">
        <img class="icon-in-logo" src="../static/imgs/nanite-icon.svg"/><h1 class="nanite-in-logo">NANITE</h1>
        <p class="welcome-subtitle">Keep track of your writing habits and increase your productivity</p>
      </div>
      <div class="nanite-user-select">
        <a class="welcome-checkin-link" onclick="prepNaniteUser()"><div class="welcome-checkin-btn">Check in</div></a>
    </div>

  </div>  
  
  <script src="../static/js/setup.js"></script>
{% endblock %} 