<div class="modal micromodal-slide" id="{{modal_id}}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{modal_id}}-title">
        <header class="modal__header">
          <h2 class="modal__title" id="{{modal_id}}-title">
            {{modal_header_text}}
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="{{modal_id}}-content">
          {{modal_contents_html}}
        </main>
        <footer class="modal__footer">
          <!-- <button class="modal__btn modal__btn-primary">Continue</button> -->
          <button class="modal__btn" {{close_btn_fn}} data-micromodal-close aria-label="Close this dialog window">{{close_button_text}}</button>
        </footer>
      </div>
    </div>
  </div>
<!-- <button data-micromodal-trigger="{{modal_id}}" class="{{modal_trigger_classes}}">{{modal_trigger_text}}</button> -->

