<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            {{modal_header_text}}
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          {{modal_contents_html}}
        </main>
        <footer class="modal__footer">
          <!-- <button class="modal__btn modal__btn-primary">Continue</button> -->
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">{{close_button_text}}</button>
        </footer>
      </div>
    </div>
  </div>
<button data-micromodal-trigger="modal-1" class="{{modal_trigger_classes}}">{{modal_trigger_text}}</button>
