{% extends 'base-app.html' %}

{% block content %}
<h1>{{pagetitle}}</h1>
<div id="main-content" class="container">
  {% if not hasprojects %}
  <div class="greeting"><p class="username-greet">Hi, {{username}}!</p>
    <p>Let's create your first project!</p>
  </div>
  {% endif %}
    <div id="projectslist" class="projectslist">
    {% for idx, project in projects %}
    <div id="project-{{idx}}">
      <h2>{{ project.name }}</h2>
      <p>Today you've written {{WCtoday[idx]}} / {{project.todaystargetwordcount}} words, which brings you to {{WCtotal[idx]}} / {{project.wordcountgoal}} words towards this project overall. </p>
      <label for="project-progress">Project progress:</label>
      <progress id="project-progress" value="{{WCtotal[idx]}}" max="{{project.wordcountgoal}}"> {{WCtotal[idx] / project.wordcountgoal}} </progress>
      <form id="project-{{idx}}-form" action="/project-options/{{idx}}" method="POST" class="project-form existing-project">
        <div class="formfields">
          <fieldset> 
              <legend>Setup</legend>
                <input type="text" name="projectid" value="{{idx}}" class="formfield" hidden required disabled>
                <input type="text" name="name" value="{{ project.name }}" class="formfield" hidden required disabled>
                <label>File/folder Path:</label><input type="text" name="filepath" value="{{ project.filepath }}" class="formfield" required disabled><br/>
                <label>Files of type:</label>
                  <select name="filetype" selected="{{ project.filetype }}" class="formfield" required disabled>
                    <option value="txt">txt</option>
                    <option value="rtf">rtf</option>
                    <option value="docx">docx</option>
                  </select><br/>
          </fieldset>
          <fieldset> 
            <legend>Goals</legend>
                <label>Word Count Goal:</label><input type="text" name="wordcountgoal" value="{{ project.wordcountgoal }}" class="formfield" required disabled> words
                <div class="regularity selection" style="display:inline-block;">
                  <input type="radio" id="daily-{{idx}}" name="wordcountreg" value="daily" class="formfield" required disabled>
                  <label for="daily">Daily</label>
                  <input type="radio" id="total-{{idx}}" name="wordcountreg" value="total" class="formfield" required checked disabled>
                  <label for="total">Total</label>
                </div>
                <br/>
                <label>Start Date:</label><input type="date" name="targetstartdate" value="{{ project.targetstartdate }}" class="formfield" required disabled><br/>
                <label>Goal End Date:</label><input type="date" name="targetenddate" value="{{ project.targetenddate }}" class="formfield" required disabled><br/>
            </fieldset>
        </div>
            <input type="submit" value="Update Project" class="formfield" disabled> 
      </form>
      <div class="modal modal-{{idx}} hidden">
        <form action = "/project-options/{{idx}}/ren" method = "POST">
          <input type="text" name="name" value="{{ project.name }}" class="formfield" required hidden>
          <input type="text" name="newname" value="{{ project.name }}" class="formfield" required>
          <input type="submit" value="Rename Project">
        </form>
      </div>
      <div id="project-actions-{{idx}}" class="project-actions project-actions-{{idx}}">
        <form class="" action = "/current-project" method = "POST">
            <input type="hidden" name="currentproject" value="{{idx}}">
            <input type="submit" value="Select Current Project">
        </form>
          <button class="debug" onclick="alert(document.cookie);">Cookie Alert</button>
          <button onclick="m = document.querySelectorAll('.modal'); m.forEach(function(x){x.classList.toggle('hidden')})">Rename Project</button>
          <button onclick="pr = document.querySelectorAll('div#project-{{idx}} > form#project-{{idx}}-form .formfield'); pr.forEach(function(x){x.toggleAttribute('disabled')})">Edit Project</button>
        <form action = "/project-options/{{idx}}/del" method = "POST">
            <input type="text" name="name" value="{{ project.name }}" class="formfield" required hidden>
            <input type="submit" value="Delete Project">
        </form>
        <form action = "/project-options/{{idx}}" method = "POST">
          <input type="text" name="name" value="{{ project.name }}" class="formfield" required hidden>
          <input type="submit" value="Refresh Word Count">
        </form>
      </div>
    </div>
  {% endfor %}
  </div>

  <div id="new-project">
    <form class="project-form new-project" action="/projects" method="post">
      <fieldset> 
          <legend class="hidden">Add a new project here:</legend>
            <label>What's the name of your project?</label><input type="text" name="name" required>
            <label>File/folder Path:</label><input type="text" name="filepath" required>
            <label>Files of type:</label>
            <select name="filetype" required>
              <option value="txt">txt</option>
              <option value="rtf">rtf</option>
              <option value="docx">docx</option>
            </select><br/>
            <label>What's your writing goal?</label>
            <div class="writing-goal">
              <input type="text" name="wordcountgoal" required> words            
              <input type="radio" id="daily-new" name="wordcountreg" value="daily" required checked>
              <label for="daily">Daily</label>
              <input type="radio" id="total-new" name="wordcountreg" value="total" required>
              <label for="total">Total</label>
            </div>
            <label>Start Date:</label><input type="date" name="targetstartdate" required>
            <label>Goal End Date:</label><input type="date" name="targetenddate" required>
            <input type="submit" value="Add New Project">
      </fieldset> 
    </form>
  </div>  
</div>
{% endblock %}