{% extends 'base-app.html' %}

{% block content %}
<h1>{{pagetitle}}</h1>
<div id="main-content" class="container">
  <!-- {% if not hasprojects %}
  <div class="greeting"><p class="username-greet">Hi, <span id="username">{{username}}</span>!</p>
    <p>Let's create your first project!</p>
  </div>
  {% endif %} -->
  {% with %}
    {% set modal_header_text = 'New Project' %}
    {% set modal_trigger_text = '+ New Project' %}
    {% set modal_trigger_classes = 'new-project' %}
    {% set close_button_text = 'Cancel' %}
    {% set modal_contents_html = '<div id="new-project" class="new-project-form-container {% if hasprojects %}hidden{% endif %}">
      <form class="project-form new-project" onsubmit="add_new_project()">
        <fieldset> 
            <legend class="hidden">Add a new project here:</legend>
              <label>What\'s the name of your project?</label><input id="project-name" type="text" name="name" required>
              <label>File/folder Path:</label><input id="project-path" type="text" name="filepath" placeholder="C:/filepath/Filename.txt" required>
              <button onclick="dir_select_tk_input()">Select Directory</button>
              <label>Files of type:</label>
              <select id="filetype" name="filetype" required>
                <option value="txt">txt</option>
                <option value="rtf">rtf</option>
                <option value="docx">docx</option>
              </select>
              <label>What\'s your writing goal?</label>
              <div class="writing-goal">
                <input id="wordcountgoal" type="text" name="wordcountgoal" required> words            
                <div class="radio-buttons">
                  <input type="radio" id="daily-new" name="wordcountreg" value="daily" required checked>
                  <label for="daily-new">Daily</label>
                  <input type="radio" id="total-new" name="wordcountreg" value="total" required>
                  <label for="total-new">Total</label>
                </div>
              </div>
              <label>Start Date:</label><input id="targetstartdate" type="date" name="targetstartdate" required>
              <label>Goal End Date:</label><input id="targetenddate" type="date" name="targetenddate" required>
              <input type="submit" value="Add New Project">
        </fieldset> 
      </form>
    </div>'|safe %}
    {% include 'modal.html' %}
  {% endwith %}
    <div id="projectslist" class="projectslist">
      <!-- Projects listed here -->
 
  </div>
</div>
<script>
  // Initial 
  (async function () {
    eel_list_projects_html_current_user();
  }) ();

// REVIEW THIS FUNCTION: IS IT STILL NEEDED?
  (async function () {
    let projectslist = document.querySelector('#projectslist');
    let project = document.createElement('div');
    let a = await eel_return_projects_by_name(get_username());
    project.textContent = a;
    projectslist.appendChild(project);
  }) ();

  async function eel_return_projects_by_name(username) {
    let a = await eel.return_projects_by_name(username)();
    return a;
  }

  // THIS IS THE WORKING ONE (TWO FUNCTIONS)

  async function eel_list_projects_html_current_user() {
    let a = await eel_list_projects_html(get_username());
    return a;
  }

  async function eel_list_projects_html(username) {
    const parser = new DOMParser();
    let projectslist = document.querySelector('#projectslist');

    let htmlString = await eel.list_projects_html(username)();
    let doc = parser.parseFromString(htmlString, "text/html");

    // append to projects list div
    doc.querySelectorAll('body > *').forEach(x => {projectslist.appendChild(x);} )

    return doc;
  }

  function add_new_project() {
    authorname = get_username();
    projectname = document.querySelector("#project-name").value;
    targetstartdate = document.querySelector("#targetstartdate").value;
    targetenddate = document.querySelector("#targetenddate").value;
    wordcountgoal = document.querySelector("#wordcountgoal").value;
    // work out current_daily_target
    dailynew = document.querySelector("#daily-new").value;
    totalnew = document.querySelector("#total-new").value;
    current_daily_target = 123; // work out wordcountgoal and current_daily_target based on whether the amount given in #wordcountgoal is #daily-new or #total-new
    wp_page = 0; // TODO: DUMMY HERE
    projectpath = document.querySelector("#project-path").value;
    //filetype = document.querySelector("#filetype").value;

    eel.new_project(authorname, projectname, targetstartdate , targetenddate, wordcountgoal, current_daily_target, wp_page, projectpath);
  };
  </script>
{% endblock %}