{% extends 'base.html' %}

{% block body_open_sidebar %} 
  {% include 'bodyopen-sidebar.html' %}
{% endblock %} 

{% block content %}
<div id="main-content" class="container">
    <div class="welcome-form" >     
      <form onsubmit="username_given()" action="projects.html">
        <legend>First, tell us a bit about yourself</legend>
      <fieldset> 
        <label>What is your first name?</label><br/><input id="username-in" type="text" name="username">
        <input type="submit" value="Next ->">
      </fieldset> 
    </form> 
  </div>
</div>
{% endblock %}