li.nav-item {
    position: relative;
    transition: opacity .65s transform .2s ease-in-out;
}

.nav-item .optionExplanation {
    opacity: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: .8rem;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    transition: opacity .65s;
}

.nav-item .optionExplanation::after {
    content: " ";
    position: absolute;
    top: 95%; 
    right: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.nav-item:hover {
    transform: scale(1.1);
}

.nav-item:hover .optionExplanation {
    opacity: .75;
}

div.proj-nav-icon {
    display: inline-block;
    position: relative;
    transition: opacity .65s transform .2s ease-in-out;
}

.proj-nav-icon .optionExplanation {
    opacity: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: .8rem;
    position: absolute;
    width: 120px;
    bottom: 100%;
    right: 20%;
    transition: opacity .65s;
}

.proj-nav-icon .optionExplanation::after {
    content: " ";
    position: absolute;
    top: 95%; 
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.proj-nav-icon:hover {
    transform: scale(1.1);
}

.proj-nav-icon:hover .optionExplanation {
    opacity: .75;
}