/* ///////////////////////////////// */
/* /// Debug Classes /// */
.debug {
  display: none;
}
/* ///////////////////////////////// */
/* /// Sitewide Styles /// */
/* Import Archivo */
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  src: url('/Archivo/Archivo-Italic-VariableFont_wdth,wght.ttf') format('truetype'), /* Safari, Android, iOS */;
}
@font-face {
  font-family: 'Archivo';
  src: url('Archivo/Archivo-VariableFont_wdth,wght.ttf');
}
/* Global Colours */
body {
  background: #333a40;
}
h1,
h2,
h3,
h4,
h5,
div,
p,
legend,
label {
  color: #fafafa;
}
svg.site-icon {
  fill: #f6d55c;
}
/* Global Fonts */
h1 {
  font-family: Archivo, sans-serif;
  font-size: larger;
  color: #f6d55c;
}
p {
  color: #fafafa;
}
/* Global Layouts */
fieldset {
  padding: 1rem;
}
/* Layout: Grid */
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3em 1fr;
  gap: 0px 0px;
  grid-template-areas: "NH NH NH NH NH NH NH NH" "leftside main main main main main main main";
}
.nanite-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "HL HL Hm Hm Hm Hm ";
  grid-area: NH;
  background-color: #1f2428;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nanite-header a {
  text-decoration: none;
}
.nanite-header .header-logo {
  grid-area: HL;
  display: flex;
  align-items: center;
}
.nanite-header .header-logo img {
  height: 2rem;
  margin: 0px 0.5rem;
  width: auto;
  display: inline;
}
.nanite-header .header-logo h1 {
  display: inline-block;
}
.leftside {
  grid-area: leftside;
  background-color: #474f56;
}
.main {
  grid-area: main;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 3em 1fr;
    gap: 0px 0px;
  }
  .nanite-header {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
  }
  .header-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .leftside {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
  }
}
/* User */
img.user-img {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* Sidebar */
.sidebar .content {
  width: 7rem;
  margin: auto;
}
.sidebar .content > * + * {
  border-top: 2px solid #aaaaaa;
}
.sidebar .insights {
  text-align: center;
}
.sidebar .insights h2 {
  text-transform: uppercase;
  font-size: 1rem;
}
.sidebar .logo {
  padding: 1em 0px;
  text-align: center;
}
.sidebar .logo a {
  font-weight: bold;
  color: #f6d55c;
  text-decoration: none;
}
.sidebar .username {
  color: #1f2428;
  text-decoration: none;
}
.sidebar .navbar li.nav-item {
  margin-bottom: 1rem;
  padding-inline-start: 0rem;
  text-align: center;
}
.sidebar .navbar li.nav-item .nav-link .icon {
  width: 3rem;
  height: 3rem;
  margin: auto;
}
.sidebar ol,
.sidebar .sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .insights-list .insights-item {
  padding-inline-start: 0rem;
}
.sidebar .insights-list .insights-item .metric {
  font-weight: bold;
}
/* Font */
* {
  font-family: 'Archivo', sans-serif;
  /* font-size: large; */
}
.font-large {
  font-size: 18px;
}
.font-med {
  font-size: 16px;
}
.font-small {
  font-size: 12px;
}
/* Buttons */
a.btn {
  padding: 3px 5px;
}
button,
input[type="submit"],
a.btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  margin: 0.5rem;
  color: #1f2428;
  background-color: #f6d55c;
  /* font-size: larger; */
}
button:focus,
input[type="submit"]:focus,
a.btn:focus,
button:hover,
input[type="submit"]:hover,
a.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
button:disabled,
input[type="submit"]:disabled,
a.btn:disabled {
  background-color: #7b6b2e;
}
/* Lists */
ol li,
ul li {
  padding-inline-start: 1rem;
}
/* Hidden (usu. modals, forms) */
.hidden {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, height 0.5s;
}
/* Flexbox Panels */
.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.panels .panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
}
.panels .panel p {
  margin: 0;
  text-align: center;
  font-size: small;
}
/**************************\
  Basic Modal Styles
\**************************/
.modal {
  /* font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: #333a40;
  padding: 15px;
  /* max-width: 500px;  */
  width: 75vw;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  color: #fafafa;
  box-sizing: border-box;
}
.modal__close {
  position: absolute;
  right: 0px;
  background: transparent;
  border: 0;
}
.modal__header .modal__close:before {
  content: "\2715";
  color: black;
}
.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
/* /////// Page Styles /////// */
/* Home Page */
.home #main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.home .nanite-welcome-image {
  width: 350px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}
.home .nanite-welcome-image .icon-in-logo {
  margin: 1rem;
  width: 20%;
}
.home .nanite-welcome-image .nanite-in-logo {
  display: inline-block;
  font-weight: 100;
}
.home .nanite-user-select {
  width: 21rem;
  margin-top: 1rem;
}
.home .nanite-user-select .user {
  background-color: #474f56;
  border-radius: 10px;
  padding: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.home .nanite-user-select .user p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.home .nanite-user-select .user .user-info .last-login {
  font-size: 10px;
}
.home .nanite-user-select .user .delete-user {
  padding-left: 0px;
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}
.home .nanite-user-select .other-login a {
  color: #fafafa;
  text-decoration: none;
}
.home div h1,
.home p {
  text-align: center;
}
/* Welcome Page */
.welcome-form {
  display: flex;
  justify-content: space-around;
}
.welcome-form form legend {
  font-weight: bold;
  margin-bottom: 1rem;
}
.welcome-form form fieldset {
  border: none;
}
.welcome-form form fieldset input {
  display: block;
}
.welcome-form form input[type="submit"] {
  margin-left: 0;
}
/* .welcome-form form input[name="username-in"] + input[type="submit"] {

} */
/* How Nanite Works Page */
.instruction-img img {
  width: 100%;
}
.how-nanite-works p.headline {
  font-weight: bold;
}
.how-nanite-works .panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.how-nanite-works .panels .panel {
  flex-basis: 170px;
  flex-grow: 1;
}
.how-nanite-works .panels .panel p {
  margin: 0;
  text-align: center;
  font-size: small;
}
/* Projects Page */
.projects#main-content {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* align-items: center; */
}
.projects#main-content > * {
  /* width: 30rem; */
}
#projectslist { 
  height: 83vh;
  overflow-y:scroll;
}
.projectslist .projects-item {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #474f56;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 1px #1f2428;
  box-shadow: 5px 5px 10px 1px #1f2428;
}
.projectslist .projects-item .project-summary {
  padding: 0.5rem;
}
.projectslist .projects-item .project-summary .header.panel {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
}
.projectslist .projects-item .project-summary .header.panel h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.projectslist .projects-item .project-summary .header.panel .project-header-buttons .icon img {
  width: 1.5rem;
  margin: 0px 0.5rem;
}
.projectslist .projects-item .project-summary .progress.panel {
  flex-basis: 100%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.projectslist .projects-item .project-summary .progress.panel label {
  display: inline-block;
}
.projectslist .projects-item .project-summary .progress.panel [class^="progress-"] {
  display: inline-block;
}
.projectslist .projects-item .project-summary .progress.panel svg {
  height: 50px;
  width: 100%;
}
.projectslist .projects-item .project-summary .quickstats.panel {
  flex-basis: 70px;
}
.projectslist .projects-item .project-summary .quickstats.panel p {
  text-align: left;
}
.projectslist .projects-item .project-summary .actions.panel {
  flex-flow: row wrap;
  justify-content: flex-end;
}
.projectslist .projects-item .project-summary .actions.panel .btn {
  flex-basis: 40%;
  font-weight: bold;
  text-align: center;
}

/* SCROLLBAR STUFF */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #333a40;;
}

::-webkit-scrollbar-thumb {
  background: #474f56;
  border-radius: 10px;
}

/* Makes bar thicker when page width exceeds 900px */
@media only screen and (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}