/* ///////////////////////////////// */
/* /// Debug Classes /// */

.debug {
    display: none;
}

/* ///////////////////////////////// */
/* /// Sitewide Styles /// */
/* Layout: Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "leftside main main main"
      ". . . ."
      ". . . .";
  }
  .leftside { grid-area: leftside; background-color: #cccccc; }
  .main { grid-area: main; padding-left: 1rem; padding-right: 1rem;}
  
  @media all and (-ms-high-contrast:none) {
  
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
  }
  
  .leftside {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  
  .main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  
  }

/* Sidebar */

.sidebar .content {
    width: 10rem;
    margin: auto;
} 

.sidebar .content > * + * {
    border-top: 2px solid #aaaaaa;
}

.sidebar .insights h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

.sidebar .logo {
    padding: 1em 0px;
}

.sidebar .logo a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.sidebar .navbar li.nav-item {
    padding-inline-start: 0.5rem;
} 

.sidebar ol, .sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .insights-list .insights-item {
    padding-inline-start: 0rem;
}

.sidebar .insights-list .insights-item .metric {
    font-weight: bold;
}

/* Font */
* {
    font-family: 'IBM Plex Sans', cursive, sans-serif;
    /* font-size: large; */
}

/* Buttons */

a.btn {
    padding: 3px 5px;
}

button, input[type="submit"], a.btn {
    margin: 0.5rem;
    color: white;
    background-color: #074EE8;
    border-radius: 3px;
    /* font-size: larger; */
}

input[type="submit"]:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color:rgba(16, 16, 16, 0.3);
}

/* Lists */

ol li, ul li {
    padding-inline-start: 1rem;
}

/* Hidden (usu. modals, forms) */
.hidden {
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity, height 0.5s;
}


/* /// Page Styles /// */
/* Home Page */

.home #main-content{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home .nanite-welcome-image {
    width: 300px;
    height: 300px;
    background: #cccccc;
}

.home div h1, .home div p {
    text-align: center;
}

/* Welcome Page */

.instruction-img {
    width:100%;
}

/* Project Options Page */
.project-form.existing-project .formfields {
    display: flex;
}

.project-actions {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}