nav {
    display: block;
    
    margin: 1rem;
    border: 3px dashed skyblue;
}

nav::before {
    content: "nav";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

div {
    display: block;
    
    margin: 1rem;
    border: 3px dashed skyblue;
}

div::before {
    content: "div";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

p {
    display: block;
    
    margin: 1rem;
    border: 3px dashed skyblue;
}

p::before {
    content: "p";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

li {
    display: block;
    
    margin: 1rem;
    border: 3px dashed skyblue;
}

li::before {
    content: "li";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

a {
    display: block;
    
    margin: 1rem;
    border: 3px dashed skyblue;
}

a::before {
    content: "li";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}




