/* DEBUG / SETUP */

nav {
    display: block;
    margin: 0.5rem;
    border: 1px dashed skyblue;
}

nav::before {
    content: "nav";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

div {
    display: block;
    margin: 0.5rem;
    border: 1px dashed skyblue;
}

div::before {
    content: "div";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

p {
    display: block;
    margin: 0.5rem;
    border: 1px dashed skyblue;
}

p::before {
    content: "p";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

li {
    display: block;
    margin: 0.5rem;
    border: 1px dashed skyblue;
}

li::before {
    content: "li";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}

a {
    display: block;
    margin: 0.5rem;
    border: 1px dashed skyblue;
}

a::before {
    content: "li";
    position: relative;
    top: 0px;
    left: 0px;
    background: skyblue;
    font-size: 0.7rem;
}


/* CSS RESET HERE */


/* BASICS */

body {
    font-family: cursive, sans-serif;
    font-size: large;
}

/* BUTTONS */

button, input[type="submit"] {
    color: white;
    background-color: #074EE8;
    border-radius: 3px;
    font-size: larger;
}

input[type="submit"]:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color:rgba(16, 16, 16, 0.3);
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "side main main main"
      ". . . ."
      ". . . .";
  }
  .side { grid-area: side; background-color: #cccccc; }
  .main { grid-area: main; }
  
  @media all and (-ms-high-contrast:none) {
  
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
  }
  
  .side {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  
  .main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }
  
  }

