{% extends 'base.html' %}

{% block content %}

<div id="main-content" class="container">
  {% for idx, project in projects %}
  <div id="project-{{idx}}">
    <p>Project Name: {{ project.name }}</p>
    <p>Project Filepath: {{ project.filepath }}</p>
    <p>Target Word Count: {{ project.targetwordcount }}</p>
    <p>Target End Date: {{ project.targetenddate }}</p>
    <p><a href="#">Edit</a></p>
  </div>
{% endfor %}

  <div id="new-project">
    <form action="/project-options" method="post">
      <fieldset> 
          <legend>Add a new project here:</legend>
            <label>Project Name: </label><input type="text" name="name" required><br/>
            <label>File/folder Path:</label><input type="text" name="filepath" required><br/>
            <label>Target Word Count:</label><input type="text" name="targetwordcount" required><br/>
            <label>Target End Date:</label><input type="text" name="targetenddate" required><br/>
            <input type="submit" value="Add New Project">
      </fieldset> 
    </form>
  </div>  
</div>
{% endblock %}